// styles for navigation bar

.navbar {
  @include kill-padding();
  background-color: $brand-accent-dk;
  font-size: 1rem;

  @include media-breakpoint-down(sm) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .navbar-toggler {
    @include kill-padding();
    color: $light-text;
    float: left;
    outline: 0;

    .glyphicons {
      font-size: 1.5em;
      padding-top: .15em;
    }
  }

  .navbar-brand-logo {
    @extend .navbar-brand;
    margin-top: .4rem;
    margin-bottom: .4rem;
    margin-left: 1rem;

    @include media-breakpoint-down(sm) {
      width: 50%;
      padding-left: 5rem;
      margin: .4rem 0;
      justify-content: flex-start;
    }

    > svg {
      height: 2em;
      display: block;
    }
  }

  .glyphicons-menu-hamburger {
    display: none;
  }

  .collapsed {
    .glyphicons-menu-hamburger {
      display: inline-block;
    }

    .glyphicons-remove {
      display: none;
    }
  }

  #collapsing-navbar,
  .navbar-nav {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  .navbar-nav {
    .nav-icon {
      font-size: 1.3em;
    }

    .nav-item + .nav-item {
      margin-left: 0;
    }

    .templates-nav-dropdown {
      position: relative;

      .dropdown-toggle::after {
        margin-top: 7px;
      }
    }

    >li {
      height: 3.3em;
      padding: .7rem .9rem .7rem .5rem;

      .nav-link {
        @include kill-padding();
        display: table;
        color: rgba(255, 255, 255, .5);

        &.small-icon span {
          padding-top: .3rem;
        }

        span {
          display: table-cell;
          vertical-align: middle;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .open {
      background-color: darken($brand-accent-dk, 8);
    }

    .active {
      background-color: darken($brand-accent-dk, 8);

      .nav-link {
        color: $white;
      }
    }

    .dropdown-menu {
      position: absolute;
      border-radius: 0;
      background-color: darken($brand-accent-dk, 8);
      float: right;
      right: 0;
      left: initial;
      margin-top: 0;

      a {
        color: rgba(255, 255, 255, .75);
        font-size: .875rem;

        &:hover {
          text-decoration: none;
          color: rgba(255, 255, 255, 1);
          background-color: $brand-primary;
        }
      }
    }
  }

  .nav-right {
    padding-right: 1rem;
    order: 2;

    @include media-breakpoint-down(sm) {
      order: initial;
      flex-direction: row;
      justify-content: flex-end;
      width: 50%;
    }

    li {
      padding-right: .5rem;
    }

    .dropdown-divider {
      background-color: rgba(255, 255, 255, .75);
    }
  }
}
