// styles for navigation bar

.navbar {
  background-color: $brand-accent-dk;
  border-radius: 0;
  font-size: 1rem;

  .navbar-toggler {
    color: $light-text;
  }

  .navbar-brand-logo {
    @extend .navbar-brand;
    margin-top: .4rem;
    margin-bottom: .4rem;
    margin-left: 1rem;

    > svg {
      height: 2em;
      display: block;
    }
  }

  .glyphicons-menu-hamburger {
    font-size: 1.5em;
    padding-top: .15em;
  }

  .navbar-nav {
    .nav-icon {
      font-size: 1.3em;
    }

    .nav-item + .nav-item {
      margin-left: 0;
    }

    .templates-nav-dropdown {
      position: relative;

      .dropdown-toggle::after {
        margin-top: 7px;
      }
    }

    >li {
      height: 3.3em;
      padding: .7rem .9rem .7rem .5rem;

      .nav-link {
        display: table;

        span {
          display: table-cell;
          vertical-align: middle;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .open {
      background-color: darken($brand-accent-dk, 8);
    }

    .active {
      background-color: darken($brand-accent-dk, 8);
    }

    .dropdown-menu {
      border-radius: 0;
      margin-top: 0;
      background-color: darken($brand-accent-dk, 8);

      a {
        color: rgba(255, 255, 255, .75);
        font-size: .875rem;

        &:hover {
          text-decoration: none;
          color: rgba(255, 255, 255, 1);
          background-color: $brand-primary;
        }
      }
    }
  }

  .pull-xs-right {
    padding-right: 1rem;

    li {
      padding-right: .5rem;
    }

    .small-icon {
      padding-top: .3rem;
    }

    .dropdown-menu {
      left: auto;
      right: 0;
    }

    .dropdown-divider {
      background-color: rgba(255, 255, 255, .75);
    }

    .nav-avatar {
      padding-top: .25em;
      padding-left: .6em;
      padding-right: .6em;
    }
  }
}
