//Younility Helper SCSS

//Kill margin and padding for all breakpoints
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .kill-#{$breakpoint}-padding {
      @include kill-padding();
    }

    .kill-#{$breakpoint}-margin {
      @include kill-margin();
    }
  }
}

.kill-underline:hover,
.kill-underline:active {
  text-decoration: none;
}

//Small and tiny padding for all breakpoints
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .sm-#{$breakpoint}-padding {
      @include sm-padding();
    }

    .xs-#{$breakpoint}-padding {
      @include xs-padding();
    }
  }
}

//Responsive Images
.img-fluid {
  display: block;
  width: 100% \9; // ie 9 fix
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

//Small dropdown class
.dropdown-menu-sm {
  font-size: $font-size-sm;
}

//truncate classes - used for multiple lines
.truncate-text {
  word-wrap: break-word;
  white-space: normal;
}

.truncate-line {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

//Small Initials

.initials-sm {
  float: left;
  background: $light-text;
  border-radius: 3px;
  text-transform: uppercase;
  height: 1.3rem;
  width: 1.3rem;
  display: block;
  line-height: 1.3rem;
  text-align: center;

  + span {
    float: left;
    line-height: 1.3rem;
    margin-left: 5px;
  }
}

.assignee {
  text-transform: capitalize;

  div {
    float: left;
  }

  .name {
    line-height: 1.6rem;
    padding-left: .5rem;
  }
}

.full-width {
  @extend .col-sm-12;
  @include kill-padding();
}

.half-width {
  @extend .col-lg-6;
  @extend .col-md-12;
  @include kill-padding();

  @include media-breakpoint-up(lg) {
    padding-bottom: 1rem;
  }

  &:first-child {
    @include media-breakpoint-up(lg) {
      padding-right: 0;
    }
  }

  + .half-width {
    @include media-breakpoint-down(md) {
      margin-bottom: 1rem;
    }
  }

  .full-block {
    @extend .col-sm-12;
    background: $white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }

    h2 {
      font-size: 1rem;
      border-bottom: 1px solid $gray-light;
      padding-bottom: .5rem;
    }

    p,
    label {
      margin-bottom: .1rem;
    }

    label {
      @include font-bold();
    }

    .half {
      @include kill-padding();
      width: 50%;
      float: left;
      margin-bottom: 1rem;
    }

    .full {
      @include kill-padding();
      width: 100%;
      float: left;
      margin-bottom: 1rem;
    }
  }
}

.flex-group {
  @extend .d-flex;
  @extend .justify;
  @extend .align-items-center;

  div:first-child {
    @extend .text-truncate;
  }

  div:last-child {
    flex-shrink: 0;
    padding-left: 1rem;
  }
}

.count {
  @include text-and-circle($white, $gray-light);
}

